main {
  display: flex;
  justify-content: center;
  text-align: center;
}

h1  {
  font-family: 'Alfa Slab One', cursive;
  font-size: 6vh;
  color: #ff5722;
  margin: 2vh;
  text-align: center;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  color: #ff5722;
  font-size: 3vh;
}

h3  {
  font-family: 'Alfa Slab One', cursive;
  font-size: 5vh;
  color: white;
  margin: 1vh 0;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 3vh;
}

.left-side {
  width: 20%;
  height: 100%;
  background-color: #452bd6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
}

.human-icon {
  height: 5vh;
  margin-top: 10vh;
}

.human-icon-center {
  height: 5vh;
  margin-top: 5vh;
  filter: invert(30%)
}

.change-game {
  margin-top: 40vh;
}

.main-body {
  display: flex;
  flex-direction: column;
}

.center {
  background-color: #fffbff;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.center-choose-your-game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.classic-image, .difficult-image {
  height: 30vh;
}

.right-side {
  width: 20%;
  background-color: #f330d6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.computer-icon {
  height: 5vh;
  margin-top: 10vh;
  filter: invert(100%)
}

.computer-icon-center {
  height: 5vh;
  margin-top: 5vh;
  filter: invert(70%)
}

button {
  margin-top: 3vh;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.2vh;
  border-color: #ff5722;
  border-radius: 5px;
  color: #ff5722;
  background-color: #fffbff;
  padding: 1vh 4vh;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: #ff5722;
}

#paper, #scissors {
  margin: 5vh 1vw 0vh 1vw;
  height: 17vh;
}

#rock {
  height: 14vh;
  margin: 5vh 1vw 0vh 1vw;
}

#heart {
  height: 15vh;
  margin: 2vh 2vw 0vh 0vw
}

#star {
  height: 17vh;
  margin: 0vh 2vw 0vh 0vw
}

#paper:hover, #scissors:hover, #rock:hover, #heart:hover, #star:hover {
  opacity: 75%;
  cursor: pointer;
}

.player-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

.hidden {
  display: none;
}
